Listen {{ skyline_bind_address }}:{{ skyline_service_port }}

# Server configuration for Skyline console
<VirtualHost {{ skyline_bind_address }}:{{ skyline_service_port }}>
  DocumentRoot {{ skyline_lib_static_files }}

  <Directory {{ skyline_lib_static_files }}>
    <FilesMatch "\.(html|css|js|jpg|jpeg|png|gif|ico|svg|eot|otf|woff|woff2|ttf)$">
      Header set Cache-Control "max-age=86400, public"
    </FilesMatch>

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/index.html$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(html|css|js|jpg|jpeg|png|gif|ico|svg|eot|otf|woff|woff2|ttf)$ [NC]
    RewriteRule . /index.html [L]

    Require all granted
  </Directory>

  <Location /api/openstack/skyline/>
    ProxyPass http://127.0.0.1:8443/
    ProxyPassReverse Off
    ProxyPreserveHost On
  </Location>
  <Location /api/v1/>
    ProxyPass http://127.0.0.1:8443/
    ProxyPassReverse Off
    ProxyPreserveHost On
  </Location>

{% if haproxy_ssl_all_vips %}
SSLProxyEngine On
{% endif %}

{% for endpoint in openstack_service_endpoints %}
{%   set _region = endpoint["Region"] | lower %}
{%   set _type = (endpoint["Service Type"] | lower) %}
{%   set _url = endpoint["URL"] | urlsplit %}
{%   if _type in skyline_service_mapping %}
{%     set _service = skyline_service_mapping[_type] %}
ProxyPass /api/openstack/{{ _region }}/{{ _service }} {{ _url.scheme }}://{{ _url.hostname }}:{{ _url.port }}{% if _service != "octavia" %}/{% endif %}{% if _service == "swift" %}{{ _service }}{% endif %} flushpackets=on
ProxyPassReverse /api/openstack/{{ _region }}/{{ _service }} {{ _url.scheme }}://{{ _url.hostname }}:{{ _url.port }}{% if _service != "octavia" %}/{% endif %}{% if _service == "swift" %}{{ _service }}{% endif %} 
ProxyPreserveHost On


{%  endif %}
{% endfor %}
</VirtualHost>
