default:
  access_token_expire: 3600
  access_token_renew: 1800
  cors_allow_origins: []
  database_url: mysql://{{ skyline_galera_user }}:{{ skyline_galera_password }}@{{ skyline_galera_address }}/{{ skyline_galera_database }}?charset=utf8{% if skyline_galera_use_ssl | bool %}&ssl_verify_cert=true{% if skyline_galera_ssl_ca_cert | length > 0 %}&ssl_ca={{ skyline_galera_ssl_ca_cert }}{% endif %}{% endif +%}
  debug: {{ skyline_debug }}
  log_dir: /var/log/skyline
  prometheus_basic_auth_password: {{ skyline_prometheus_basic_auth_password }}
  prometheus_basic_auth_user: {{ skyline_prometheus_basic_auth_user }}
  prometheus_enable_basic_auth: {{ skyline_prometheus_enable_basic_auth }}
  prometheus_endpoint: {{ skyline_prometheus_endpoint | default('http://localhost:9091') }}
  secret_key: {{ skyline_secret_key }}
  session_name: session
developer:
  show_raw_sql: {{ skyline_debug }}
openstack:
  base_domains:
  - heat_user_domain
  base_roles:
  - keystone_system_admin
  - keystone_system_reader
  - keystone_project_admin
  - keystone_project_member
  - keystone_project_reader
  - nova_system_admin
  - nova_system_reader
  - nova_project_admin
  - nova_project_member
  - nova_project_reader
  - cinder_system_admin
  - cinder_system_reader
  - cinder_project_admin
  - cinder_project_member
  - cinder_project_reader
  - glance_system_admin
  - glance_system_reader
  - glance_project_admin
  - glance_project_member
  - glance_project_reader
  - neutron_system_admin
  - neutron_system_reader
  - neutron_project_admin
  - neutron_project_member
  - neutron_project_reader
  - heat_system_admin
  - heat_system_reader
  - heat_project_admin
  - heat_project_member
  - heat_project_reader
  - placement_system_admin
  - placement_system_reader
  - panko_system_admin
  - panko_system_reader
  - panko_project_admin
  - panko_project_member
  - panko_project_reader
  - ironic_system_admin
  - ironic_system_reader
  - octavia_system_admin
  - octavia_system_reader
  - octavia_project_admin
  - octavia_project_member
  - octavia_project_reader
  default_region: {{ skyline_service_region }}
  extension_mapping:
    floating-ip-port-forwarding: neutron_port_forwarding
    fwaas_v2: neutron_firewall
    qos: neutron_qos
    vpnaas: neutron_vpn
  interface_type: {{ skyline_interface }}
  keystone_url: {{ skyline_keystone_url }}
  nginx_prefix: /api/openstack
  reclaim_instance_interval: 604800
  service_mapping: {{ skyline_service_mapping }}
  sso_enabled: {{ skyline_sso_enabled }}
  {% if sso_enabled %}
  sso_region: {{ skyline_service_region }}
  {% endif %}
  sso_protocols:
  - openid
  system_admin_roles: {{ skyline_role_names }}
  system_project: {{ skyline_service_project_name }}
  system_project_domain: {{ skyline_service_project_domain_id }}
  system_reader_roles:
  - reader
  system_user_domain: {{ skyline_service_user_domain_id }}
  system_user_name: {{ skyline_service_user_name }}
  system_user_password: {{ skyline_service_password }}
setting:
  base_settings:
  - flavor_families
  - gpu_models
  - usb_models
  flavor_families:
  - architecture: x86_architecture
    categories:
    - name: general_purpose
      properties: []
    - name: compute_optimized
      properties: []
    - name: memory_optimized
      properties: []
    - name: high_clock_speed
      properties: []
  - architecture: heterogeneous_computing
    categories:
    - name: compute_optimized_type_with_gpu
      properties: []
    - name: visualization_compute_optimized_type_with_gpu
      properties: []
  gpu_models:
  - nvidia_t4
  usb_models:
  - usb_c
